.edit-title {
  display: flex;
  align-items: center;
  width: 44rem;

  &.active {
    border-bottom: 1px solid #000000;
    cursor: pointer;
  }
}

em.ak-pen {
  font-size: 1.5rem;
  color: #2F80ED;
  cursor: pointer;
}

input.title {
  border: none;
  font-weight: bold;
  font-size: 2rem;
  color: #02344F;
  margin-right: 0.5rem;

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: #02344F;
    background: transparent;
  }
}

