@import "src/assets/styles/variables";

.container {
  display: flex;
  height: 100%;
}

.body {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

header {
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6rem;
  color: #02344F;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

.body-content-wrapper {
  min-width: 700px;
  padding: 2rem;
  flex-grow: 1;
}

.body-content {
  height: calc(100vh - 22rem);
  min-height: 420px;
}

.right-side.calendar {
  flex-basis: 33rem;
  min-width: 33rem;
  padding: 2rem 2rem 0 0;
  height: calc(100vh - 8rem);
  min-height: 525px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  a {
    border-left: 1px solid hsla(0,0%,76.9%,.26);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
  }
}
