<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <remove name="AngularJS Routes" />
        <rule name="Front Portal Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/front-portal/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>