:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: inherit;
}

.folders-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 28rem;
  height: 100%;
}

.gallery-block {
  flex: 1 0;
  background: #ffffff;
  padding: 1.5rem 3rem;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input {
      width: 32rem;
    }
  }
}

.files-block {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0.5rem 0 0;

  align-content: start;
  height: calc(100% - 6rem);

  .file-item {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      cursor: pointer;
      width: 100%;
      object-fit: contain;
    }

    label {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1rem;
      font-weight: normal;
      letter-spacing: 0.012rem;
      line-height: 2.4rem;
      color: #02344F;
    }
  }
}
